body {
  text-align: center;
  height: 100%;
}


.mainSearch {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 600px;
}

.search {
  margin-left: 20px;
}

.words {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}